#loginOptionsContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: filter 0.25s ease;
    background: rgba(0, 0, 0, 0.50);
}

#loginOptionsContent {
    border-radius: 3px;
    position: relative;
    top: -5%;
}

.loginOptionsMainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginOptionActions {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.loginOptionButtonContainer {
    width: 16em;
}

.loginOptionButton {
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(126, 126, 126, 0.57);
    border-radius: 3px;
    height: 50px;
    width: 100%;
    text-align: left;
    padding: 0px 25px;
    cursor: pointer;
    outline: none;
    transition: 0.25s ease;
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.loginOptionButton:hover,
.loginOptionButton:focus {
    background: rgba(54, 54, 54, 0.25);
    text-shadow: 0px 0px 20px white;
}

#loginOptionCancelContainer {
    position: absolute;
    bottom: -100px;
}

#loginOptionCancelButton {
    background: none;
    border: none;
    padding: 2px 0px;
    font-size: 16px;
    font-weight: bold;
    color: lightgrey;
    cursor: pointer;
    outline: none;
    transition: 0.25s ease;
}
#loginOptionCancelButton:hover,
#loginOptionCancelButton:focus {
    text-shadow: 0px 0px 20px lightgrey;
}
#loginOptionCancelButton:active {
    text-shadow: 0px 0px 20px rgba(211, 211, 211, 0.75);
    color: rgba(211, 211, 211, 0.75);
}
#loginOptionCancelButton:disabled {
    color: rgba(211, 211, 211, 0.75);
    pointer-events: none;
}